p{
    background-color: aqua;
}

a{
    background-color: rgb(233, 230, 226);
}

h4{
    background-color: rgb(231, 156, 64);
}

div{
    background-color: rgb(221, 118, 118);
}

span{
    background-color: chartreuse;
}

a{
    background-color: cyan;
}